<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.ArticleMapper">

    <select id="selectAllArticle" resultType="Articles" parameterType="java.util.HashMap">
        select c.name, a.title, a.author, a.view_count, a.post_date, COALESCE(a.edit_date, '-'),a.id
        from article a join category c on a.category_id = c.id
        where 1=1
        <if test="keyword != null and !keyword.isEmpty()">
        and (title LIKE CONCAT('%', #{keyword}, '%')
            OR author LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="category != null and !category.isEmpty()">
            and a.category_id = #{category}
        </if>
        <if test="startDate != null and startDate != ''">
            <if test="endDate != null and endDate != ''">
               and a.post_date between #{startDate} and #{endDate}
            </if>
        </if>

        order by a.post_date desc limit ${paging.limit} offset ${paging.offset}
    </select>

    <insert id="insertArticle" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        insert into article (category_id,title, author, password, content)
        values (#{categoryId}, #{title}, #{author}, #{password}, #{content})
    </insert>

    <insert id="insertFile" parameterType="FileVo">
        insert into file(article_id, uuid_name, original_name, dir)
        values (#{articleId}, #{uuidName}, #{originalName}, #{dir})
    </insert>

    <select id="selectArticleById" parameterType="int" resultType="Articles">
        select
            a.id as articleId, c.name, title, author, password, content, view_count, post_date, edit_date
        from article a join category c on a.category_id = c.id
        where a.id = #{id}
    </select>
    
    <select id="selectComments" parameterType="int" resultType="Comment">
        select c.id, c.article_id, c.comment, c.post_date from comment c
        where article_id = #{articleId}
    </select>

    <select id="selectFiles" parameterType="int" resultType="FileVo">
        select id, article_id, uuid_name, original_name, dir from file
        where article_id = #{articleId}
    </select>

    <select id="selectFile" parameterType="int" resultType="FileVo">
        select id, article_id, uuid_name, original_name, dir from file
        where id = #{fileId}
    </select>

    <select id="countArticle" resultType="int">
        select count(*)
        from article;
    </select>

    <select id="countArticleOption" parameterType="map" resultType="int">
        select count(*)
        from article a
        where 1=1
        <if test="keyword != null and !keyword.isEmpty()">
            and (title LIKE CONCAT('%', #{keyword}, '%')
            OR author LIKE CONCAT('%', #{keyword}, '%')
            OR content LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="category != null and !category.isEmpty()">
            and a.category_id = #{category}
        </if>
        <if test="startDate != null and startDate != ''">
            <if test="endDate != null and endDate != ''">
                and a.post_date between #{startDate} and #{endDate}
            </if>
        </if>
    </select>

    <select id="selectArticles" resultType="Article">
        select * from article
    </select>

</mapper>