<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Articles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            padding: 0 3%;
            margin: 1% 10%;
        }
        nav {
            margin-bottom: 3%;
        }
        div > article {
            text-align: center;
        }
        a {
            color: black;
        }
        tr, td {
            white-space: nowrap;
        }
        button > a {
            text-decoration: none;
        }
        h2 > a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h2><a href="/board/list">자유게시판 - 목록</a></h2>
    <div>
        <nav>
            <form id="searchForm" action="/board/list" method="get">
                <input type="date" name="startDate" th:value="${search.startDate}">&nbsp~
                <input type="date" name="endDate" th:value="${search.endDate}">
                <select name="category">
                    <option value="">전체 카테고리</option>
                    <option value="1" th:selected="${search.category} == '1'">자유</option>
                    <option value="2" th:selected="${search.category} == '2'">일상</option>
                    <option value="3" th:selected="${search.category} == '3'">음악</option>
                    <option value="4" th:selected="${search.category} == '4'">영화</option>
                    <option value="5" th:selected="${search.category} == '5'">여행</option>
                </select>
                <input type="text" name="keyword" th:value="${search.keyword}">
                <button type="submit" id="searchBtn">검색</button>
            </form>
        </nav>
        <article>
            <table>
                <tr>
                    <td>카테고리</td>
                    <td>아이콘</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>조회수</td>
                    <td>등록 일시</td>
                    <td>수정 일시</td>
                </tr>
                <tr th:each="article : ${articles}">
                    <td th:text="${article.name}"></td>
                    <td th:if="${article.withFile == '1'}"><i class="fa-regular fa-file"></i></td>
                    <td th:if="${article.withFile != '1'}"></td>

                    <td style="text-align: left">
                        <a th:href="@{/board/view/{id}(id=${article.id})}">
                            <span th:text="${article.title}"></span>
                        </a>
                    </td>
                    <td th:text="${article.author}"></td>
                    <td th:text="${article.viewCount}"></td>
                    <td th:text="${article.postDate}"></td>
                    <td th:text="${article.editDate}"></td>
                </tr>
            </table>
        </article>
        <div style="text-align: center"  id="pageList">
            <span style="margin: 0 10px"
                    th:each="pageNum : ${#numbers.sequence(1, paging.lastPage)}"
                  th:attr="id='page' + ${pageNum}"
                  th:text="${pageNum}">
            </span>
        </div>
        <button><a th:href="@{/board/write}">등록</a></button>
    </div>
</body>
<script>
    const list = document.getElementById('pageList');
    let url = '/board/list?'
    const formData = new FormData(document.getElementById('searchForm'));

    list.addEventListener('click', (event) => {

        if (event.target.closest('span')) {
            formData.forEach((value, key) => {
                url += key + '=' + value + '&';
            })
            url += 'pageNum=' + event.target.textContent;
            window.location.href = url;
        }
    })
</script>
</html>
