<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/write.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div>
        <div class="info">
            작성자: &nbsp;<div class="left" th:text="${article.author}"></div>
            <div class="right">
                등록일시 <span th:text="${article.postDate}"></span>
                수정일시 <span th:text="${article.editDate}">-</span>
            </div>
        </div>

        <div class="info">
            <div class="left">
                [<div th:text="${article.name}" ></div>]
                <span style="margin-left: 10%">
                    제목:&nbsp;<span  th:text="${article.title}"></span>
                </span>
            </div>
            조회수:
            <div class="right" th:text="${article.viewCount}" style="margin:0 10px"></div>
        </div>

        <div class="info" th:text="${article.content}" style="border: 1px solid #ccc; padding: 10px; width: 96%; height: 150px;">
        </div>

        <div class="info" th:each="file : ${files}">

            <a th:if="${file != null}" th:href="@{/board/file-download(fileId=${file.id})}">
                <i class="fa-regular fa-file"></i>
                <span th:text="${file.originalName}"></span>
            </a>
        </div>

        <div class="comment-container">
            <div class="comment" id="comments" th:each="c : ${comments}">
                <div th:text="${c.postDate}"></div>
                <div th:text="${c.comment}"></div>
                <hr>
            </div>

            <div class="comment" id="newCommentContainer"></div>
            <input type="hidden" th:value="${article.id}" id="articleId">
            <label>
                <input type="text" id="comment" placeholder="댓글을 입력해 주세요."/>
                <button type="button" id="commentBtn">등록</button>
            </label>

        </div>
    </div>
    <div class="buttons">
        <button><a th:href="@{/board/list}"> 목록</a></button>
        <button><a th:href="@{'/board/modify/' + ${article.id}}">수정</a></button>
        <button>삭제</button>
    </div>
</body>
<script>
    document.getElementById('commentBtn').addEventListener('click', function () {
        const comment = document.getElementById('comment').value;
        const id = document.getElementById('articleId').value;

        const data = {};
        data['comment'] = comment;
        data['articleId'] = id;

        fetch('/board/comment', {
            method: 'post',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        }).then(response => {
            const comments = document.getElementById('newCommentContainer')

            const newComment = document.createElement('div');
            newComment.innerHTML = `
                <div>${getFormattedDateTime()}</div>
                <div>${comment}</div>
                <hr>
                `
            comments.appendChild(newComment);
        }).catch(msg => {
            alert(msg)
        })
    })

    const getFormattedDateTime = function () {
        const now = new Date();

        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해줍니다
        const day = String(now.getDate()).padStart(2, '0');

        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');

        const formattedDateTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        return formattedDateTime;
    }
</script>
</html>